body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #2a3e51;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu{
    float: left;
    padding-left: 430px;
}

.menu li{
    float: left;
    line-height: 60px;
    padding-right: 40px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/mf.png) 90% 100%/auto 80% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}

.title___conteiner{
    float: left;
    margin: 433px 0px 0px 404px;
    text-align: center;
}

.title___conteiner h1{
    font-size: 51px;
    color: #223549;
    font-weight: bold;
}

.title___conteiner h4{
    margin-top: 40px;
    font-size: 24px;
    color: #77838f;
}

.title___conteiner input{
    margin: 58px 26px 0px 0px;
    padding: 12px 16px;
    border: 3px solid #697784;
    text-align: center;
    border-radius: 5px;
    color: #697784;
    font-size: 15px;
}